.map{
    border: 1px solid black;
    width: 55%;
    height: 100%;
    text-align: center;
}

form{
    width: 100%;
}
.formButtons{
       display: flex;
       justify-content: space-between;
}
.formButtons button{
    cursor: pointer;
}